@use '@angular/material' as mat;
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ng-taildash-primary: mat.define-palette(mat.$indigo-palette);
$ng-taildash-accent: mat.define-palette(mat.$indigo-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ng-taildash-warn: mat.define-palette(mat.$red-palette);
// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ng-taildash-theme: mat.define-light-theme(
  (
    color: (
      primary: $ng-taildash-primary,
      accent: $ng-taildash-accent,
      warn: $ng-taildash-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ng-taildash-theme);

$primary: map-get($ng-taildash-primary, 500);
$accent: map-get($ng-taildash-accent, 500);
$warn: map-get($ng-taildash-warn, 500);
